node_modules
/dist
src/**.jssoft
.idea/*

coverage
.nyc_output
*.log

yarn.lock

.vscode
package

.env

service-account.json
./ormconfig.json
/ormconfig.json

*.bak
.editorconfig
.prettierignore
.prettierrc
openapi/.swagger-codegen
openapi/.swagger-codegen-ignore